.form {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    line-height: 2;
}

.radioButtons {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


input[type="text"], input[type="submit"] {
    font-size: 20px;
    padding: 2px; 
    margin: 10px 0; 
}

input[type="submit"] {
    cursor: pointer; 
    padding: 5px
}

input[type="radio"] {
    cursor: pointer;
    transform: scale(1.5); 
    margin: 10px; 
}

.suggestions-dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    
    background-color: white;
    color: grey;
    width: 100%;
    z-index: 1000;
}

.suggestions-dropdown li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-dropdown li:hover {
    background-color: lightgray;
}

